.adminDashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.dataGridsContainer {
    display: flex;
    justify-content: space-between;
}

.dataGridContainerTeilnehmer {
    width: 30%;
    margin-right: 20px;
    margin-left: 20px;
}

.dataGridContainerStrecken {
    width: 70%;
    margin-right: 20px;
}

.tabellen-div {
    max-height: 300px;
    overflow-y: auto;
    padding-left: 20px;
    margin-bottom: 10px;
}

.tabellen-div thead {
    position: sticky;
    top: 0;
}

.tabellen-div thead th {
    background: white;
}

@media screen and (max-width: 768px) {

    .dataGridsContainer {
        flex-direction: column;
    }

    .dataGridContainerTeilnehmer {
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .dataGridContainerStrecken {
        width: 90%;
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }

    .tabellen-div {
        margin-top: 15px;
        display: flex;
        justify-content: center;
        border: 1px solid gray
    }
}