.socialMedia {
    display: flex;
    justify-content: center;
    height: calc(100vh - 80px);
}

.myFeedBox {
    margin-top: 20px;
    width: 40%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.paper {
    margin-top: 10px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}

.paper-avatar {
    flex: 0 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    padding: 10px;
}

.paper-content {
    flex: 1 0 90%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.paper-like-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Media Query für Bildschirme mit einer Breite von bis zu 768px */
@media (max-width: 768px) {
    .myFeedBox {
        width: 80%;
    }

    .paper {
        flex-direction: column;
    }

    .paper-avatar {
        flex: 0 0 100%;
    }

    .paper-content {
        flex: 1 0 100%;
    }
}

/* Media Query für Bildschirme mit einer Breite von bis zu 480px */
@media (max-width: 480px) {
    .myFeedBox {
        width: 100%;
    }
}
