.tippSpiel-Teilnehmer {
    text-align: left;
    max-width: 400px;
    margin-top: 20px;
    margin-left: 20px;
}

.tippSpiel-Container {
    display: flex;
    justify-content: space-between;
}

.tippSpiel-Countdown {
    margin-top: 20px;
    margin-right: 20px;

}

.tippSpiel-Strecke {
    display: flex;
    align-items: center;
}

.tippSpiel-Tippfeld {
    margin-top: 20px;
}

#Pole {
    display: flex;
    justify-content: start;
    align-items: center;
}

#SchnellsteRunde {
    margin-top: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
}

#Rennesieger {
    margin-top: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
}

#AnzahlDerDNF {
    margin-top: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
}

#BestätigungsButton {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}


@media (max-width: 1000px) {
    .tippSpiel-Teilnehmer {
        width: 80%;
        margin: 0 auto;
        margin-top: 20px;
    }

    .tippSpiel-Tippfeld {
        width: 80%;
        margin: 0 auto;
        margin-top: 20px;
    }

    .tippSpiel-Countdown {
        width: 80%;
        margin: 0 auto;
        margin-top: 20px;
    }
}